@model SSLS.WebUI.Models.AdminLoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/Content/auth.css">
    <style>
        .whide{
            display:none
        }
    </style>
</head>
<body>

    <script type="text/javascript">
         function Change(node) {
                 node.src = "/Reader/CheckCode?id=" + new Date();
         }
         $(function () {
             for (var i = 0; i < $(".whide").length; i++)
             {
                 if ($(".whide").eq(i).text().trim() != "")
                     toastr.warning('温馨提示', $(".whide").eq(i).text())
             }

         })
    </script>
    <div class="panel">
        <div class="lowin lowin-blue">
            <div class="lowin-brand">
                <img src="~/img/kodinger.jpg" alt="logo">
            </div>
            <div class="lowin-wrapper">
                <div class="lowin-box lowin-login">
                    <div class="lowin-box-inner">
                        @using (Html.BeginForm())
                        {
                            <span class="whide">@Html.ValidationMessage("pwderror")</span>
                            <span class="whide">@Html.ValidationMessage("codeerror")</span>
                            <span class="whide">@Html.ValidationMessageFor(e => e.userName)</span>
                            <span class="whide">@Html.ValidationMessageFor(e => e.Password)</span>
                            <p>Sign in to continue</p>
                            <div class="lowin-group">
                                <label>Email</label>
                                @if (TempData["Name"] == null)
                                {
                                    @Html.TextBoxFor(c => c.userName, new { @class = "lowin-input" })
                                }
                                else
                                {
                                    <input type="text" name="Email" class="lowin-input" value="@TempData["Name"]" />
                                }
                            </div>
                            <div class="lowin-group password-group">
                                <label>Password</label>
                                @Html.PasswordFor(c => c.Password, new { @class = "lowin-input" })
                            </div>
                            <p><img src="/Reader/CheckCode?id=new Date()" alt="看不清，切换图片" onclick="Change(this)" style="cursor:pointer;" /></p>
                            <input name="code" id="code" type="text" class="lowin-input" autocomplete="off" /><br /><br />
                            <input type="submit" value="登录" class="lowin-btn login-btn" style="padding:10px" />
                        }
                    </div>
                </div>
            </div>
            <footer class="lowin-footer">
                <a href="http://fb.me/itskodinger"></a>
            </footer>
        </div>
        <script src="~/Scripts/auth.js"></script>
        <script>
        Auth.init({
            login_url: '#login',
            forgot_url: '#forgot'
        });
        </script>
    </div>

</body>
</html>
